<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EstudosJava_MatheusVictor/src/Estudos/Vetores/SegundoVetor.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Estudos.Vetores.SegundoVetor"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EstudosJava_MatheusVictor"/>
</launchConfiguration>
